
<section>
  <label>Inputs</label>

  <ngx-input
    #cronInput
    type="text"
    label="CRON Input"
    [autofocus]="true"
    [(ngModel)]="cron">
  </ngx-input>

  <ngx-select
    [filterable]="false"
    [allowClear]="true"
    [multiple]="true"
    label="Availble Periods"
    [(ngModel)]="allowedPeriods">
    <ngx-select-option [name]="period" [value]="period" *ngFor="let period of periods"></ngx-select-option>
  </ngx-select>

  <ngx-toggle
    #disabledToggle
    label="Disabled">
  </ngx-toggle>
</section>

<section>
  <label>ngx-cron Component</label>
  <ngx-cron-input
    #cronComp
    [(cron)]="cron"
    [allowedPeriods]="allowedPeriods"
    [disabled]="disabledToggle.value"></ngx-cron-input>
</section>

<section>
  <label>Output</label>

  <pre><code>
    {{cron}}
    {{cronComp.description}}
  </code></pre>
</section>
