<ngx-input
  type="text"
  label="CRON Input"
  [autofocus]="true"
  [(ngModel)]="cron">
</ngx-input>

<ngx-select
  [filterable]="false"
  [allowClear]="true"
  [multiple]="true"
  label="Availble Periods"
  [(ngModel)]="allowedPeriods">
  <ngx-select-option [name]="period" [value]="period" *ngFor="let period of periods"></ngx-select-option>
</ngx-select>

<ngx-cron-input #cronInput [(cron)]="cron" [allowedPeriods]="allowedPeriods"></ngx-cron-input>

<p>
  Output:
  <br />{{cron}}
  <br />{{cronInput.description}}
</p>